@import "css/type.css";
@import "css/colour.css";

@value header-height: 40px;

:root {
    --header-height: header-height;
}

:export {
    headerHeight: header-height;
}

.header {
    background-color: var(--nav-bgcolor);
    font-family: var(--fonts);
    font-size: 1.5rem;
    color:var(--nav-text);
    padding: 0px 10px 0px 20px;
    height: var(--header-height);
    justify-content: space-between;
    display: flex;
    flex-shrink: 0;
    align-items: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.18);
    /* Same as lopenling header */
    z-index: 1;
}

.header p {
    margin: 0;
    padding: 0;
    flex-grow: 2;
}

.logo {
    margin: 0 0 0 20px;
    padding: 0;
    display: flex;
    align-items: center;
}

.navigationButton {
    margin-right: 10px;
}

.controls {
    font-size: 15px;
    display: flex;
    align-items: center;
    position: relative;
}

.controls a:link,
.controls a:visited {
    text-decoration: none;
    color: white;
}

.loginButton {
    font-family: var(--fonts);
    font-size: 15px;
    background-color: var(--green-tint);
    color: #ffffff;
    margin-right: 20px;
    margin-left: 7px;
    border: 0;
    line-height: 1;
    padding: 6px 10px;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.loginButton svg {
    color: white;
    margin-right: 5px;
}

.textLink a:link,
.textLink a:visited {
    color: white;
}

.buttonLink {
    line-height: 1;
    background-color: var(--green-tint);
    border-radius: 4px;
    padding: 6px 10px;
}

.buttonLink a:link,
.buttonLink a:visited {
    color: #ffffff;
}

.navlinks {
    height:100%;
}

.navlinks ul {
    height: 100%;
    display: flex;
    gap: 10px;
    list-style: none;
    margin:0;

}
.navlinks ul li{
    display:flex;
    justify-content: center;
    align-items: center;
}

.navlinks a {
    font-weight: bold;
    text-decoration: none;
    color: var(--nav-text);
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out;
    line-height: 26px;
    vertical-align: middle;
    margin-inline-end: 30px;
}

.navlinks a:hover {
    color: #666;
}

.loginSection{
    display:inline-flex;
    min-width: 250px;
    max-height: 100%;
    overflow: hidden;
    float:left;
}