

.splitText2 {
    background-color: white;
    flex-grow: 1;
    min-width: 0;
    width: 100%;
    font-size: 24px;
    height: 90%;
}

.splitText2 *:focus {
    outline: none;
}

.splitTextRowContent {
    display: flex;
    flex-direction: column;
}

.splitTextRow {
    display: flex;
    flex-direction: row;
    background-color: #ccc;
}

.splitTextRow .text {
    max-width: 100%;
}

.pechaImage {
    background-color: #eee;
    height: 260px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
}

.pechaImage img {
    object-fit: contain;
}

.controlsPlaceholder {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: var(--controlsWidth);
    padding: var(--controlsPadding);
    margin-left: var(--controlsMargin);
    margin-right: var(--controlsMargin);
}

.pageNumber {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 42px;
    color: #444;
}

:global(.ReactVirtualized__Grid__innerScrollContainer) {
    overflow: visible !important;
    margin-bottom: 300px;
}
span{
    position: relative
}



.hightlighter{
    animation: pulse .3s infinite ;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    position: absolute;
    background-color: transparent;
}

@keyframes pulse {
    0%{
     transform: scale(1);
    }
    
    100%{

        transform: scale(1.7);
    }
}