@import 'css/colour.css';


.textDetail2 {
    background-color: white;
    position: relative;
    flex: 1;
    color: var(--text-color);
    border-left: 2px solid gray;
    transition: height 0.3s linear;
    overflow: hidden;
}

.textDetail2 ::selection {
    color: black;
    background-color: #ccc;
}

.textContainer2 {
    flex-grow: 1;
    border-radius: 10px;
}

:global(.loader) {
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 50px;
    background-color: rgba(1, 1, 1, 0.1);
    border-radius: 5px;
}
