.textDetailHeading{
    font-weight: bold;
    display: flex;
    padding:3px 0;
    height: 70px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e3e3e3;
}
.textHeadingTitle{
margin-left:15px;
}
/* .textDetailHeading span{
    height: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    transition: .3s ease 0ms;
} */
.leftLogo svg:hover, .rightLogo svg:hover{
    background-color: darkgray;
    cursor: pointer;
}
.leftLogo svg, .rightLogo svg{
    height: 100%;
    width: 100%;

}
.leftLogo{
    float:left;
    margin-left:10px;   
}
.rightLogo{
    transform: rotate(180deg);
    float:right;
}
.selectVersion{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.textDetailHeading .coverImage{
    margin-top:6px;
    margin-right: 10px;
    width:30px;
    object-fit: contain;
    margin-left:20px;
    cursor: pointer;
}
.coverImage:hover{
    box-shadow: 0 0 10px black;
}
.OptionToggle{
    position:relative;
    top:0;
    z-index: 1000;

    
}
.option{
    padding:10px;
    background-color: #f9f9f8;
    position:absolute;
    width:135px;
    top:50px;
    box-shadow: 0 2px 10px black;
    left:20px;
}

.optionsList{
    list-style-type: none;
    padding:0;
    margin:0;
    font-weight: 200;
}
.optionsList li{
    cursor: pointer;
}
