.textlist {
    max-width: 15rem;
    height: 300px;
    cursor: pointer;
    overflow: hidden;

}

.textlist.open {
    width: 500px;
    height: 500px;
}

.listToggelBtn {
    outline: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 1rem;
    border: 1px solid lightgray;
    padding-inline: 4px;
}

.listToggelBtn:hover {
    background-color: #eee;
}