@import '../../css/colour.css';

.LeftSection{
    width: 725px;
    margin: 0 auto;
    min-height: 520px;
    max-width: 100%;
    box-sizing: border-box;
    padding-bottom: 70px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    font-family:macondo;
}
.Title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.Title h1{
    text-align: start;
    color: #666;
    position: relative;
    font-size: 22px;
    font-weight: 500;
    margin: 0 0px 30px 0;
    height: auto;
    text-transform: none;
}
.readerNavCategories {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap:20px;
}

.gridBoxItem{
    flex-shrink: 0;
    max-width: 45%;
display: flex;
gap:10px;
flex-direction: column;
}

.navBlockDescription{
    font-size: 14px;
    line-height: 18px;
    color: #666;
    margin-inline-end: 20px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
}



.navBlockTitle{
color: #000;
    margin-inline-end: 20px;
    margin-top: 10px;
    text-decoration: none;
    font-size: larger;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navBlockTitle:hover{
    color:#666;
}