@value green-tint: #88af8e;
@value blue-tint: #024279;

@value active-button: #00746b;

:root {
    --main-tint: blue-tint;
    --blue-tint: blue-tint;
    --green-tint: green-tint;
    --text-bg: #ddd;
    --green: #5B8960;
    --yellow: #ffc300;
    --red: #840000;
    --cancel: #aaa;
    --active-button: active-button;
}

:export {
    mainTint: blue-tint;
    activeButton: active-button;
}