@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');


:root {
    --fonts: "Overpass", "arial", "sans-serif";
    --tibetan-fonts: "Tibetan", "Himalaya", "Kokonor";
    --Macondo :Macondo;
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: local("arial");
}

@font-face {
    font-family: "Tibetan";
    font-style: normal;
    font-weight: 400;
    src: url("/static/fonts/monlam_bodyig-webfont.woff2") format("woff2"),
         url("/static/fonts/monlam_bodyig-webfont.woff") format("woff");
    unicode-range: U+0F00-0FFF;
}