.idea
.env
db.sqlite3
.coverage
parkhang/frontend/node_modules
parkhang-dev.js
styles-dev.css
webpack-stats-dev.json
.vagrant
ubuntu-xenial-16.04-cloudimg-console.log
data/texts
.venv
parkhang/frontend/static/bundles/parkhang-dev.js.map
parkhang/frontend/static/bundles/styles-dev.css.map
parkhang/frontend/coverage
/data/texts-orig
/data
.envs/.local/.django
parkhang/static/images/texts
.vscode
vendors~docx-dev.js
vendors~docx-dev.js.map
*.envs/*
!.envs/.local/
/parkhang/frontend/static/bundles/docx-dev.js
__pycache__
