[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
coverage = "*"
defusedxml = "*"
django = "<4.0"
django-debug-toolbar = "*"
django-webpack-loader = "*"
djangorestframework = "*"
oauthlib = "*"
pyparsing = "*"
python-decouple = "*"
"python3-openid" = "*"
pytz = "*"
requests = "*"
requests-oauthlib = "*"
sqlparse = "*"
gunicorn = "*"
openpyxl = "*"
psycopg2-binary = "*"
django-environ = "*"
whitenoise = "*"

[dev-packages]
fabric = "*"
invocations = "*"
