.Selection{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    background-color: #eee;
    color:rgb(217, 202, 202);

}
.Btn{
    /* background-color: white; */
    cursor: pointer;
}
.active{
    font-weight: bold;
    color:black;
}
.selected{
    padding-top:20px;
    padding-inline:5px;
}
.ResourcesListed{
    list-style: none;
    cursor: pointer;
    margin:10px !important;
    padding:0;
}
.ResourcesListed svg{
width: 20px;
height: 20px;
}
.ResourcesListed li{
    padding-top:10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap:5px;
}
.ResourcesListed li:hover{
    background-color:#efe;
}