@import 'css/colour.css';

.header {
    display: flex;
    margin:0 auto;
    border-radius: 30%;
    width: 50%;
    justify-content: space-evenly;
}
.header>div{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    width: 100%;
    border-right: 1px solid #fff;
    flex-grow:1 ;

}

.header>div:nth-child(1){
    background-color: var(--white) ;
    border-radius: 20px 0px 0px 20px;
}
.header>div:last-child{
    border-radius: 0px 20px 20px 0px;
}
.header>div:hover{
    background-color: var(--white);
}


.header>div:nth-last-of-type(1) {
    border-right: 0;
}