@import 'css/type.css';
@import 'css/colour.css';

:root {
    --button: {
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.annotationDetail {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 10px 30px 0;
    padding: 0 0 10px 0;
    background-color: #ddd;
    position: relative;
}

.annotationDetail h3 {
    flex-shrink: 0;
    font-size: 21px;
    color: #444;
    font-family: var(--tibetan-fonts);
    font-weight: normal;
    margin: 0 0 10px 0;
    padding: 5px 10px;
    border-left: 5px solid #aaa;
}

.annotationDetail p {
    flex-shrink: 0;
    font-size: 21px;
    color: #000;
    font-family: var(--tibetan-fonts);
    margin: 0;
    padding: 0px 10px 5px 10px;
    margin-left: 5px;
}

.active {
    background-color: #aebcc7;
}

.annotationDetail.active h3 {
    color: var(--main-tint);
    border-left: 5px solid #446b8c;
}

.editing {
    display: flex;
    flex-direction: column;
    padding: 0 10px 0px 10px;
}

.editing textarea {
    font-size: 18px;
    font-family: var(--tibetan-fonts);
    flex-grow: 1;
}

.actionButtons {
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    margin-top: 10px;
}

.edit {
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    @apply --button;
}

.save {
    color: white;
    @apply --button;
}

.cancel {
    color: var(--red);
    @apply --button;
}
