@import 'css/colour.css';

.header {
    height: 27px;
    display: flex;
    margin: 0 auto;
    width: fit-content;
    background-color: #eee;
    border: 1px solid darkgray;
}

.header>div {
    display: flex;
    justify-content: center;
    max-width: fit-content;
}

.header>div:hover {
    background-color: var(--white);
}

.Anotation_closeBtn {
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: red;
    display: flex;
    justify-self: center;
    align-items: center;
    cursor: pointer;

}

.edit svg {
    width: 20px;
    height: 20px;

}