@import 'css/type.css';
@import 'css/colour.css';

:root {
    --delete-radius: 16px;
}

.note {
    display: flex;
    flex-direction: column;
    background-color: #ddd;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.info {
    font-weight: bold;
    font-size: 14px;
    padding: 0;
    margin: 0 0 1em 0;
}

.content {
    font-size: 18px;
}

.delete {
    /*background-color: var(--cancel);*/
    border-radius: 50%;
    color: #444;
    font-size: 18px;
    width: var(--delete-radius);
    height: var(--delete-radius);
    text-align: center;
    line-height: var(--delete-radius);
    cursor: pointer;
}