@import 'css/colour.css';

.tabBar {
    height: 30px;
    display: flex;
}

.tab {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    flex-grow: 1;
}

.selected {
    border-bottom: 3px solid var(--main-tint);
    font-weight: bold;
    color: var(--main-tint);
}