@import 'css/colour.css';


.textDetail {
    flex-grow: 1;
    background-color: var(--text-bg);
    border-left: 1px solid #ccc;
    position: relative;
    min-width: 0;
}

.textContainer {
    flex-grow: 1;
}

:global(.loader) {
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 50px;
    background-color: rgba(1,1,1,0.1);
    border-radius: 5px;
}
