@import 'css/colour.css';

.textDetailHeading{
    font-weight: bold;
    display: flex;
    padding:3px 0;
    height: 70px;
    background-color: var( --textDetail-heading);
    border-bottom: 1px solid var(--dark-gray);

}
.textHeadingTitle{
margin-left:15px;
}
/* .textDetailHeading span{
    height: 16px;
    width: 16px;
    justify-content: center;
    align-items: center;
    transition: .3s ease 0ms;
} */

.selectVersion{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.textDetailHeading .coverImage{
    margin-top:6px;
    margin-right: 10px;
    width:30px;
    object-fit: contain;
    margin-left:20px;
    cursor: pointer;
}
.coverImage:hover{
    box-shadow: 0 0 10px black;
}
.OptionToggle{
    position:relative;
    top:0;
    z-index: 1000;

    
}
.option{
    padding:10px;
    background-color: #f9f9f8;
    position:absolute;
    min-width: 240px;
    box-shadow: 0 2px 10px black;
    left:20px;
}

.optionsList{
    list-style-type: none;
    padding:0;
    margin:0;
    font-size: 12.8px;
    display: flex;
    flex-direction: column;
    gap:5px;
}
.optionsList li{
    cursor: pointer;
}

.buttonRefresh{
    outline: none;
    border: none;
    background-color: transparent;
    padding-bottom: 10px;
    cursor: pointer;
}
.buttonRefresh:hover{
    background-color: bisque;
}
.buttonRefresh>svg{
   width: 20px;
   height: 20px;
}