@import 'css/colour.css';


.textDetail {
    background-color: var(--editor-bg);
    position: relative;
    flex-grow: 1;
    color:var(--text-color);
    border: thick double var(--green);

}

.textContainer {
    flex-grow: 1;
    border-radius: 10px;
}

:global(.loader) {
    position: absolute;
    left: 50%;
    top: 20%;
    padding: 50px;
    background-color: rgba(1,1,1,0.1);
    border-radius: 5px;
}

