@import 'css/type.css';
@import 'css/colour.css';

.headingContainer {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #ccc;
    flex-shrink: 0;
    background-color: #fff;
}

.textHeading {
    font-size: 21px;
    margin: 0;
    font-weight: normal;
    flex-grow: 1;
    flex-shrink: 0;
    font-family: var(--tibetan-fonts);
}

.topRow {
    display: flex;
    align-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.textHeadingloader {
    position: relative;
    right: 10px;
}

.textHeadingloader :global(.loader) {
    position: relative;
    left: 0;
    top: 0;
    background: 0;
    padding: 0;
}

.controls {
    display: flex;
    margin-right: 2em;
}

.controls label {
    margin-right: 5px;
}