@import '../../css/colour.css';

.SearchContainer{
    
    min-height: 100vh;
    max-width: 100%;
    box-sizing: border-box;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    display: flex;
    width: 100vw;
}
.LeftSearch{
    flex:1;
    padding: 60px 30px 0 0;
}
.RightSearch{
    width: 420px;
    background-color: #FBFBFA;
    padding-top: 80px;
    padding-inline:44px;
    display: flex;
    flex-direction: column;
}
.RightSearch h2{
    font-size: 22px;
    text-transform: none;
    color: var(--dark-gray);
    border-bottom: 1px solid var(--light-gray);
    padding-bottom: 10px;
    margin: 0 0 10px 0;
}
.RightSearch ul{
    list-style: none;
}
.SearchTitle{

    height: 40px;
    font-size: 30px;
    color: #000;
    margin-bottom: 5px;
}
.SearchCount{
    color:rgb(160, 155, 155);
}