@import 'css/type.css';
@import 'css/colour.css';

:root {
    --padding-left: 10px;
    --text-list-colour: #555;
}

.textList {
    height: 100%;
    background-color: var(--text-list-colour);
    display: flex;
    flex-grow: 1;
}

.textList *:focus {
    outline: none;
}

.textListRow {
    border-left: 5px solid #444;
    border-bottom: 1px solid #aaaaaa;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    background-color: var(--text-list-colour);
    color: white;
    padding: 0;
    cursor: pointer;
    white-space: nowrap;
    font-family: var(--tibetan-fonts);
    font-size: 18px;
}

.selectedRow {
    background-color: #efefef;
    color: black;
}

.textNameRow {
    text-overflow: ellipsis;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 0 var(--padding-left);
}

.textName {
    flex-grow: 1;
    /*flex-shrink: 0;*/
    text-overflow: ellipsis;
    overflow: hidden;
}

.highlight {
    background-color: #a07f00;
}

.selectedRow .highlight {
    background-color: #d48100;
}

.searchResults {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    font-size: 12px;
}

.searchResult {
    padding-left: var(--padding-left);
}

.selectedSearchResult {
    background-color: #aaa;
    padding-left: 10px;
}

.searchTotal {
    background-color: white;
    color: #222;
    border-radius: 9px;
    padding: 0 4px;
    font-size: 11px;
    min-width: 18px;
    height: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    font-family: var(--fonts);
}

.textListLoader {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.textListLoader :global(.loader) {
    position: relative;
    left: 0;
    top: 0;
    background: 0;
    padding: 0;
    margin: 50px 0 20px 0;
}

.searching {
    text-align: center;
}

.loadMore {
    padding-left: var(--padding-left);
    margin: 5px 0;
}