@import 'css/type.css';


.textList {
    height: 100%;
    background-color: white;
    flex-grow: 1;
}

.textList *:focus {
    outline: none;
}

.textListRow {
    display: flex;
    align-items: center;
    background-color: #efefef;
    padding: 0 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: var(--tibetan-fonts);
}

.selectedRow {
    background-color: #888;
    color: white;
}