@import 'css/type.css';

:root {
    --listWidth: 300px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--fonts);
}

.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.interface {
    flex: 1;
}

.listContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transition: width 0.25s ease-in-out;
    width: var(--listWidth);
    position: relative;
}

.hideListContainer {
    width: 0;
}

.showListContainer {
    width: var(--listWidth);
}