@import 'css/type.css';
@import 'css/colour.css';
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
    font-family: var(--fonts);
    font-kerning: normal;
    /* overflow: hidden; */
}


.container {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.interface {
    flex: 1;
}

.listContainer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    transition: width 0.25s ease-in-out;
    position: relative;
}
.showListContainer{
    width:100%;
}
.hideListContainer{
    width:0%;
}

:global(.Resizer.vertical) {
    width: 10px;
    cursor: col-resize;
    z-index: 1;
    background-color: #ffffff;
}
.ReactVirtualized__List{
    background-color: red;
}



::-webkit-scrollbar {
    width: 1vw;
  }
::-webkit-scrollbar-track {
    background:var(--text-list-colour);
    margin-block: 10px;

  }
::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 5px;
  }
/* ::-webkit-scrollbar-thumb:hover {
   
  } */

  
  @supports(scrollbar-color: var(--text-list-colour) var(--text-bg)){


    *{
        scrollbar-color: var(--text-list-colour) var(--text-bg);
        scrollbar-width: thin;
    }
  }

