.localeOptions {
    margin-right: 40px;
    display: flex;
    align-items: center;
}

.localeOption {
    font-size: 15px;
    padding: 0 10px;
    cursor: pointer;
}
.localeOption:hover {
    font-size: 17px;
    padding: 0 10px;
    cursor: pointer;
    background-color: #aaa;
    color:white;
    border-radius: 10px;
}
.selected {
    font-weight: bold;
}

.localeOption:not(:nth-child(1)) {
    border-left: 1px solid white;
}