.placeholder {
    animation: example infinite 2s;
    position: relative;
    top: 30px;
    left: 51px;
    scale: 3;
}

@keyframes example {
    0% {
        translate: 0 50px;
        opacity: 0;
    }

    50% {
        translate: 0 0;
        opacity: 1;
    }

    100% {
        translate: 0 50px;
        opacity: 0;
    }
}