
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    word-break: break-all;
  }
  
  .bloc_tabs {
    display: flex;
    border-bottom: 2px solid rgb(202, 189, 189);
    gap:10px;
    list-style: none;
    padding:0;
  }
.tabs {
    padding:10px;
    font-size: 22px;
    cursor: pointer;
   
  }
  
  .active_tabs  {
    padding:10px;
    font-size: 22px;
    cursor: pointer;
    background: white;
    border-bottom: 4px solid #666;
  }
  
  .content_tabs {
    flex-grow : 1;
  }