{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% render_bundle 'parkhang' 'css' config='MAIN' %}
    <script>

{% if user.is_authenticated %}
USER_LOGGED_IN = true;
USER_USERNAME = "{{ user.username }}";
USER_NAME = "{{ user.name }}";
USER_ID = "{{ user.id }}";
USER_LOCALE = "{{ user.locale }}";
{% else %}
USER_LOGGED_IN = false;
USER_NAME = "";
USER_ID = null;
USER_LOCALE = "bo";
{% endif %}
CSRF_TOKEN = "{{ csrf_token }}"
    </script>
</head>
<body>
<div id="app" style="width: 100vw; height: 100vh;"></div>
{% render_bundle 'parkhang' 'js' config='MAIN' %}
</body>
</html>